# Ignore all CSV and YAML files
*.csv
keys.yaml

# Ignore in subdirectories
**/*.csv
**/keys.yaml

# Ignore virtual environment folder
intermarket/

# ignore __init__ related caches
__pycache__/
**/__pycache__/
*.py[cod]

